<%- include('../partials/header') %>
    <table id="list">
        <thead>
            <tr>
                <th>Player name</th>
                <th>position</th>
                <th>age</th>              
            </tr>
        </thead>
        <tbody>
           <% teams.forEach(function(t) { %>
            <tr>
                <td><%= t.playerName %></td>
                <td><%= t.position %></td>
                <td><%= t.age %></td>
                <td><a href="/teams/<%= t._id %>">Profile</a></td>
            </tr>
           <% }) %> 
        </tbody>
    </table>
    <%- include('../partials/footer') %>
