<%- include('../partials/header') %>

<section id="show-page">
    <div>Player Name: </div>
    <div><%= team.playerName %></div>
    <div>Position: </div>
    <div><%= team.position %></div>
    <div>Player Age: </div>
    <div><%= team.age %></div>
    <div>Player Pace: </div>
    <div><%= team.pace %></div>
</section>

<br><h2>Players Comments</h2>
<form id="comment-form" method="POST"
  action="/teams/<%= team._id %>/comments">

  <label>Comment:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="overallRat">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <input type="submit" value="Add Comment">
 
</form>

<% if (team.comments.length) { %>
        <table>
            <thead>
                <tr>
                    <th>comment:</th>
                    <th>overal:</th>
                </tr>
            </thead>
            <tbody>
                <% team.comments.forEach(function(c) { %>
                    <tr>
                        <td><%= c.content %></td>
                        <td><%= c.overallRat %></td>
                        <form action="/teams/<%= c._id %>?_method=DELETE" method="POST" class="secondary-content">
                            <button type="submit" class="btn-small red-text">X</button>
                        </form>
                    </tr>
                </form>  
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <h5>No Comments </h5>
<% } %>
<%- include('../partials/footer') %>