<%- include('../partials/header') %>

<section id="show-page">
    <div>Player Name: </div>
    <div><%= team.playerName %></div>
    <div>Position: </div>
    <div><%= team.position %></div>
    <div>Player Age: </div>
    <div><%= team.age %></div>
    <div>Player Pace: </div>
    <div><%= team.pace %></div>
</section>

<%- include('../partials/footer') %>